<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
     <!--Style  -->
    <link rel="stylesheet" href="style.css">

    <title>Todo List</title>

</head>
<body>

    <div id='app'>

        <header class='todo-logo flex-center'>
            <img src="./logo-todo.png" alt="">
        </header>

        <main>            
            <input v-model="newTodo" @keyup.enter="addNewTodo"  type="text" class="add-todo" placeholder="Cosa devi fare?" />
            <i class="fas fa-pencil-alt"></i>
            <button @click="addNewTodo" type='text'>Aggiungi</button>           
        </main>

        <section class='new-todo'>
            <ul class="todos">
                <li v-show="emptyList">La lista è vuota. Inserisci un todo</li>
                <li v-for='(item, index) in list'>
                    <span>{{ item }}</span>
                    <i @click="removeTodo(index)" class="fas fa-trash-alt"></i>
                </li>                
            </ul>
        </section>

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>