* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcbf49;
}
/* todo */
#app{
    font-family: 'Raleway', sans-serif;
    max-width: 1170px;
    height: 100vh;
    margin: 0 auto;
    
}

.todo-logo {
    display: flex;
    justify-content: center;  
}

.todo-logo img{
    width: 250px;
    padding: 10px;
}

main { 
    text-align: center;
}

main i {
    color: #264653;
    font-size: 20px;
    animation: rotate-scale 0.5s linear both;
    
}

@keyframes rotate-scale {
    0% {
        transform: scale(1) rotate(0);
       }

    50% {
        transform: scale(2) rotate(180deg);
    }  
    100% {
        transform: scale(1) rotate(360deg);
      }
}



input {
    margin: 20px 5px;
    padding: 5px 10px;
    border-radius: 15px;
}

button {
    background-color: #264653;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0 8px 6px -6px black;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color:#e63946;
}


/* section */
.new-todo {
    background-color: #eae2b7;
    border-radius: 5px;
    max-width: 450px;
    padding: 20px;
    margin: 0 auto;
}

.new-todo ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #555;
}

.new-todo span::first-letter {
    text-transform: uppercase;
}

.line {
    text-decoration: line-through;
}

.new-todo ul li i {
    cursor: pointer;
}

.new-todo ul li i:hover {
    color: #e63946;    
}


/* MEDIA QUERIES */
@media screen and (max-width: 420px) {
    
    .new-todo {
        width: 70%;
    }
}

@media screen and (min-width: 421px) and (max-width: 767px) {

    .new-todo {
        width: 70%;
    }
}
