* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcbf49;
}
/* todo */
#app{
    font-family: 'Raleway', sans-serif;
    max-width: 1170px;
    height: 100vh;
    margin: 0 auto;
    
}

.todo-logo {
    display: flex;
    justify-content: center;  
}

.todo-logo img{
    width: 250px;
    padding: 10px;
}

main { 
    text-align: center;
}

main i {
    color: #264653;
    font-size: 20px;
    animation: float 2s infinite;
}

@keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  }

input {
    margin: 20px 5px;
    padding: 5px 10px;
    border-radius: 15px;
}

button {
    background-color: #264653;
    padding: 10px;
    border-radius: 20px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}


/* section */
.new-todo {
    background-color: #eae2b7;
    border-radius: 5px;
    max-width: 450px;
    padding: 20px;
    margin: 0 auto;
}

.new-todo ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #555;
}

.new-todo ul li i {
    cursor: pointer;
}

.new-todo ul li i:hover {
    color: red;
    
}


/* MEDIA QUERIES */
@media screen and (max-width: 420px) {
    
    .new-todo {
        width: 70%;
    }
}

@media screen and (min-width: 421px) and (max-width: 767px) {

    .new-todo {
        width: 70%;
    }
}
